@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fontsource/el-messiri/400.css';
@import '/node_modules/@fontsource/el-messiri/500.css';
@import '/node_modules/@fontsource/el-messiri/600.css';
@import '/node_modules/@fontsource/el-messiri/700.css';
@import '_variables';

body{
    font-family: "El Messiri", sans-serif;
}

header,footer{
    height: 80px;
    background-color: $dc-main-color;
    color: $secondary-color;

    h1{
        font-size: 32px;
        font-weight: 700;

        a{
            text-decoration: none;
            color: inherit;
            transition: all .3s;

            &:hover{
                text-decoration: underline;
                color: inherit;
            }
        }
    }
}

main{
    height: calc(100vh - 160px);
    overflow-y: scroll;

    table{

        thead{
            th{
                color: $dc-main-color;
            }
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
}

footer {
    h6{
        font-size: .8em;
        font-weight: 700;
    }
}

.card{
    height: 45vh;
   .np-img{
        width: 20rem;
    }
}
